html, body{
    height: 98%;
}
body{
    background-color:#044a63;
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat;
    text-shadow: 0 0 1px white;
    font-size: larger;
    flex-direction: column;

}
header{
    top : 0%;
    position: absolute;
    left : 0%;
    text-align: left;
    margin : 1%;
    display : flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}
#back{
    height : 1em;
    width: 1em;
    margin-right: 10px;
}
.abs {
    position: absolute;
    top:5%;
    font-size: medium;
}
a {
    color: inherit;
    text-decoration: inherit;
}
.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: xxx-large;
    font-weight: 1000;
}
#timer{
    width: 500px;
    background-color: #5ddd6c;
}
#stopwatch{
    width: 500px;
    background-color: #e6475d;
}
#timer, #stopwatch{
    margin: 2% 0;
    padding: 10%;
    text-align: center;
}
#st, #reset{
    width: 250px;
    padding: 1%;
    margin: 10px 0;
    font-size : xx-large;
}
.timer{
    font-size: 10em;
}
.timer, #setter{
    font-family : sans-serif;
    font-weight: 500;
}
#hours, #minutes, #seconds{
    margin : 5% 0;
}
#reset{
    background-color: #add8e7;
    text-align: center;
}
#st{
    background-color: #5ddd6c;
    text-align: center;
}